name: Release

on:
  push:
    branches: ["main", "dev", "feat", "hotfix"]
  pull_request:
    branches: ["main"]

jobs:
  release:
    name: Semantic Release
    runs-on: ubuntu-latest
    permissions:
      contents: write
      issues: write
      pull-requests: write
      id-token: write

    steps:
      - name: Checkout repo
        uses: actions/checkout@v5
        with:
          fetch-depth: 0  # REQUIRED for semantic-release

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Install dependencies
        run: |
          pip install -U pip
          pip install python-semantic-release
          pip install build

      - name: Semantic Release
        uses: cycjimmy/semantic-release-action@v6
        with:
          semantic_version: 19.0.5  # It is recommended to specify a version range
                                    # for semantic-release when using
                                    # semantic-release-action lower than @v4
        env:
          GITHUB_TOKEN: ${{ secrets.GH_TOKEN }}